/* base.css */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #f9f9f9;
  color: #222;
}

/* 🔹 Top Contact Bar */
.topbar {
  background: #ff8790;
  color: #000000ff;
  font-size: 14px;
  padding: 8px 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.topbar span {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Header */
header {
  background: #c3c3c3;
  padding: 12px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: #000;
}
.logo img {
  height: 100px;
  width: auto;
  margin-right: 12px;
}
.nav-links a {
  color: #111;
  text-decoration: none;
  margin-left: 25px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.nav-links a:hover {
  color: #e63946;
}

/* Footer */
footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}
footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
